@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing:border-box;
  font-family: sans-serif;
  background-color: #e2e2e2;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

.card {
  margin: 1rem;
}

h2 {
  font-size: 1rem;
  margin: 0;
}

.img-flex {
  width: 100%;
  vertical-align: middle;
  display: block;
}

p {
  margin: 0;
  display:inline-block;
}

.btn {
  background-color: #555;
  font-weight: normal;
  color: #fff;
  display: inline-block;
  padding: 0.75em;
  margin: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}

a {
  background-color: #555;
  border-radius: 4px;
  text-decoration:none;
}

a:hover {
  background-color: #000;
}

img {
  display: block;
  margin: 0;
}

@media only screen and (min-width: 25em) {

  html {
    font: normal 100%/1.3, sans-serif;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .card {
    display: inline-block;
    width:49%;
  }

  .img-flex {
    display: inline-block;
    max-width: 49%;
    position: absolute;
    padding-top: 4rem;
  }

  h2 {
    padding-top: 1em;
  }

  .btn {
    display: inline-block;
  }

}

@media only screen and (min-width: 60em) {

  html {
    line-height: 1.5;
    font-size: 120%;
  }

  .h1 {
    font-size:1.5rem;
    margin-bottom: .5rem;
  }

  h2 {
    padding-top: .5em;
  }

  p {
    padding-right: 1rem;
    padding-bottom: .5rem;
  }

  .img-flex {
    padding-top: 2rem;
    padding-right: 2rem;
    width:60%;
  }

  .card {
    padding-top: 1.7rem;
    margin: 1rem;
    width:45%;
  }

  .btn {
    margin-left: auto;
  }

}

@media only screen and (min-width: 90em) {

  html {
    line-height: 1.5;
    font-size: 130%;
  }

  p {
    padding-right: 2rem;
  }

  .card {
    padding-top: 2.3rem;
    padding-left: 5rem;
    padding-right: 1rem;
    text-align: left;
  }

  .img-flex {
    padding-top: 1rem;
    margin: 1rem;
    padding-right:1rem;
    max-width: 40%;
    padding-left: 0;
  }
}
